<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> 	<html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page NeedsGeorgia
  ================================================== -->
	<meta charset="utf-8" />
	<title>Sector67 Dashboard</title>
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
	
	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="stylesheets/base.css">
	<link rel="stylesheet" href="stylesheets/skeleton.css">
	<link rel="stylesheet" href="stylesheets/layout.css">
	
	<link rel="stylesheet" href="javascripts/jguage/css/jgauge.css" type="text/css" /> <!-- CSS for jGauge styling. -->
	<!--[if IE]><script type="text/javascript" language="javascript" src="javascripts/jguage/js/excanvas.min.js"></script><![endif]--> <!-- Extends canvas support to IE. (Possibly buggy, need to look into this.) -->
	
	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png" />
	
	<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
	
</head>
<body>





	<!-- Primary Page Layout
	================================================== -->
	
	<!-- Delete everything in this .container and get started on your own site! -->
	
	<div class="container">	
			<div class="one-third column feature">
				<h2>Bus Voltage</h2>
				<div id="batteries" class="jgauge"></div>
			</div>
			<div class="one-third column feature">
				<h2>Motor Temp 1</h2>
				<div id="leftTemp" class="jgauge"></div>
			</div>
			<div class="one-third column feature">
				<h2>Motor Temp 2</h2>
				<div id="rightTemp" class="jgauge"></div>
			</div>
			<div class="sixteen columns">
				<h2>Motor Controller Bus Voltage</h2>
				<div id="voltageLiveChart" style="width: 900px; height: 500px; margin: auto auto 20px auto;"></div>
			</div>

	</div><!-- container -->

		
		
		
		
	<!-- JS
	================================================== -->
	<script language="javascript" src='javascripts/jquery-1.8.2.min.js'></script>
	<script language="javascript" src='javascripts/jQuery.flot.js'></script>
	<script language="javascript" type="text/javascript" src="javascripts/jguage/js/jQueryRotate.min.js"></script>
	<script language="javascript" type="text/javascript" src="javascripts/jguage/js/jgauge-0.3.0.a3.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	
	<script>
	
		var leftMotorTempGauge = new jGauge(); // Create a new jGauge.
		leftMotorTempGauge.id = 'leftTemp';
		leftMotorTempGauge.autoPrefix = autoPrefix.si; // Use SI prefixing (i.e. 1k = 1000).
		leftMotorTempGauge.imagePath = 'javascripts/jguage/img/jgauge_face_taco.png';
		leftMotorTempGauge.segmentStart = -225
		leftMotorTempGauge.segmentEnd = 45
		leftMotorTempGauge.width = 170;
		leftMotorTempGauge.height = 170;
		leftMotorTempGauge.needle.imagePath = 'javascripts/jguage/img/jgauge_needle_taco.png';
		leftMotorTempGauge.needle.xOffset = 0;
		leftMotorTempGauge.needle.yOffset = 0;
		leftMotorTempGauge.label.yOffset = 55;
		leftMotorTempGauge.label.color = '#fff';
		leftMotorTempGauge.label.precision = 0; // 0 decimals (whole numbers).
		leftMotorTempGauge.label.suffix = '&deg F'; // Make the value label watts.
		leftMotorTempGauge.ticks.labelRadius = 45;
		leftMotorTempGauge.ticks.labelColor = '#0ce';
		leftMotorTempGauge.ticks.start = 0;
		leftMotorTempGauge.ticks.end = 200;
		leftMotorTempGauge.ticks.count = 12;
		leftMotorTempGauge.ticks.color = 'rgba(0, 0, 0, 0)';
		leftMotorTempGauge.range.color = 'rgba(0, 0, 0, 0)';
		
		var rightMotorTempGauge = new jGauge(); // Create a new jGauge.
		rightMotorTempGauge.id = 'rightTemp';
		rightMotorTempGauge.autoPrefix = autoPrefix.si; // Use SI prefixing (i.e. 1k = 1000).
		rightMotorTempGauge.imagePath = 'javascripts/jguage/img/jgauge_face_taco.png';
		rightMotorTempGauge.segmentStart = -225
		rightMotorTempGauge.segmentEnd = 45
		rightMotorTempGauge.width = 170;
		rightMotorTempGauge.height = 170;
		rightMotorTempGauge.needle.imagePath = 'javascripts/jguage/img/jgauge_needle_taco.png';
		rightMotorTempGauge.needle.xOffset = 0;
		rightMotorTempGauge.needle.yOffset = 0;
		rightMotorTempGauge.label.yOffset = 55;
		rightMotorTempGauge.label.color = '#fff';
		rightMotorTempGauge.label.precision = 0; // 0 decimals (whole numbers).
		rightMotorTempGauge.label.suffix = '&deg F'; // Make the value label watts.
		rightMotorTempGauge.ticks.labelRadius = 45;
		rightMotorTempGauge.ticks.labelColor = '#0ce';
		rightMotorTempGauge.ticks.start = 0;
		rightMotorTempGauge.ticks.end = 200;
		rightMotorTempGauge.ticks.count = 12;
		rightMotorTempGauge.ticks.color = 'rgba(0, 0, 0, 0)';
		rightMotorTempGauge.range.color = 'rgba(0, 0, 0, 0)';
	
		var batteryGauge = new jGauge(); // Create a new jGauge.
		batteryGauge.id = 'batteries';
		batteryGauge.autoPrefix = autoPrefix.si; // Use SI prefixing (i.e. 1k = 1000).
		batteryGauge.imagePath = 'javascripts/jguage/img/jgauge_face_taco.png';
		batteryGauge.segmentStart = -225
		batteryGauge.segmentEnd = 45
		batteryGauge.width = 170;
		batteryGauge.height = 170;
		batteryGauge.needle.imagePath = 'javascripts/jguage/img/jgauge_needle_taco.png';
		batteryGauge.needle.xOffset = 0;
		batteryGauge.needle.yOffset = 0;
		batteryGauge.label.yOffset = 55;
		batteryGauge.label.color = '#fff';
		batteryGauge.label.precision = 0; // 0 decimals (whole numbers).
		batteryGauge.label.suffix = 'V'; // Make the value label watts.
		batteryGauge.ticks.labelRadius = 45;
		batteryGauge.ticks.labelColor = '#0ce';
		batteryGauge.ticks.start = 0;
		batteryGauge.ticks.end = 50;
		batteryGauge.ticks.count = 12;
		batteryGauge.ticks.color = 'rgba(0, 0, 0, 0)';
		batteryGauge.range.color = 'rgba(0, 0, 0, 0)';

		series = [{
			data: [],
			lines: {
				fill: true
			}
		}];

		var voltLive = jQuery('#voltageLiveChart');
		var plot = $.plot(voltLive, series, {
			grid: {
				borderWidth: 1,
				minBorderMargin: 20,
				labelMargin: 10,
				backgroundColor: {
					colors: ["#fff", "#e4f4f4"]
				},
				hoverable: true,
				mouseActiveRadius: 50,
				margin: {
					top: 8,
					bottom: 20,
					left: 20
				},
				markings: function(axes) {
					var markings = [];
					var xaxis = axes.xaxis;
					for (var x = Math.floor(xaxis.min); x < xaxis.max; x += xaxis.tickSize * 2) {
						markings.push({ xaxis: { from: x, to: x + xaxis.tickSize }, color: "rgba(232, 232, 255, 0.2)" });
					}
					return markings;
				}
			},
			yaxis: {
				min: 0,
				max: 50
			},
			xaxis: {
				show: false,
				min: 0,
				max: 100
			},
			legend: {
				show: true
			}
		});

		var addData = function(arr, item) {
			if(arr.length >= 100) {
				arr.splice(0, 1);
				jQuery.each(arr, function (i, val) {
					arr[i] = [i, val[1]];
				});
				arr.push([100, item]);
			} else {
				arr.push([arr.length, item]);
			}
			return arr;
		}
		

		$(document).ready(function () {
			var i = 0;
			batteryGauge.init();
			leftMotorTempGauge.init();
			rightMotorTempGauge.init();
			
			var socket = io.connect('http://localhost');
			
			socket.on('temp', function (data) {
				if(data.data.temperature > 0) {
					if (data.data.sensorName == "leftMotor") {
							leftMotorTempGauge.setValue(data.data.temperature);						
					} if (data.data.sensorName == "rightMotor") {
							rightMotorTempGauge.setValue(data.data.temperature);	
					}
				}
			});
			
			socket.on('volts', function (data) {
				batteryGauge.setValue(data.data.voltage);
				series[0].data = addData(series[0].data, data.data.voltage);
				plot.setData(series);
				plot.draw();
			});
			
			
		});
	</script>
	
<!-- End Document
================================================== -->
</body>
</html>